<div class="container mt-3">
    <h2 class="mb-2">Add a New Blog Post</h2>
    <form class="new-techBlog-post-form">
        <div class="mb-1">
            <label for="title-new-techBlog-post" class="form-label">Blog Title:</label>
            <input type="text" class="form-control" id="title-new-techBlog-post" placeholder="Enter a Blog Title Here"/>
        </div>
        <div class="mb-2">
            <label for="content-new-techBlog-post" class="form-label">Blog Info:</label>
            <textarea class="form-control" id="content-new-techBlog-post" rows="4" placeholder="Enter Blog Info Here"></textarea>
        </div>
        <div class="mb-2">
            <button type="submit" class="btn btn-primary">Create Blog Post</button>
        </div>
    </form>
</div>